form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

form div{
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

form label{
    width: 100px;
    min-width: 100px;
    margin-right: 10px;
}

form input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #706a6a;
    border-radius: 4px;
    max-width: 400px;
}

form button {
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    background-color: #706a6a;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    max-width: 530px;
}

form button:hover {
    background-color: #262728;
}
